[2019-07-24 20:26] OR13 opened #1 "Pick a ciphersuite for the Credential"
Since the key used to issue the credential needs to be in the DID document for the issuer, the key needs to be a supported key format for the issuer DID Method.

This issue is blocked by https://github.com/decentralized-identity/interop_project/issues/2

[2019-07-24 20:27] OR13 opened #2 "Pick a DID Method for the Credential Issuer"
Anything supported by https://uniresolver.io/ seems like a good candidate.

Keep in mind that the issuer just needs to have a DID with a key that is available to the credential issuing server. Its a one time setup to get the key into the DID Document, so cost for ledger methods should be safe to ignore.

Add your method or vote for one.

[2019-07-24 20:41] OR13 commented on #2
`elem`

I'm biased obviously and its still under pretty active development, but `elem` does not have restrictions on keys, so anything `jose` compatible is fine, as well as the custom signature formats used by uport / jolocom over secp256k1.

Also its not added to the universal resolver yet.

[2019-07-24 20:43] OR13 commented on #2
`ethr`

We added support for larger key sizes so RSA is a possibility, so is ethereum address linked credentials.

[2019-07-24 20:45] OR13 commented on #2
`github`

I'm biased here as well, but it might be cool to show that centralized DID Methods 👿 can be used to issuer credentials for other DIDs.

Github DID uses a github repository so it has a nature linkage to real world human or organization IDs, and it has built in tools for creating your ID for free, and creating and verifying JSON-LD based credentials.

[2019-07-24 20:50] OR13 opened #3 "Pick a DID Method for the Credential Subject"
IMO this one is far more important since there will likely be many subjects all wanting credentials from a single issuer.

This means that cost should be considered, as well as ease of creating and managing your DID.

In order for the issuer to authenticate the subject before issuing a credential, the subject will be required to provide a signature, so again usability will be key.

I guess technic

[2019-07-24 20:59] OR13 commented on #3
`elem`

I'm biased here, and `elem` is not in the universolver yet, but we do support free DID creation via a single page web application, its an easy onboarding experience, if not a totally safe one, since `elem` is still under active development.

[2019-07-24 21:00] OR13 commented on #3
`ethr`

Any existing ethereum address is already an `ethr` did, might be a good way to engage the ethereum community.

[2019-07-24 21:01] OR13 commented on #3
`github`

I'm biased here, its not in the uniresolver, and its centralized, but it is free to create, and is naturally linked to both github users and organizations.

[2019-07-24 21:06] OR13 opened #4 "Adopt ES256K JWT id_token for DID Auth, issued by Issuer and Verifier Web Servers"
The issuer website needs to challenge a DID to sign a QR code (more details in future tickets).

In order for the issuer to authenticate the subject, the issuer and subject need to agree on a ciphersuite.

`jose` based `jwt` is the most interoperable, I strongly suggest we use it.

We even have https://github.com/decentralized-identity/did-auth-jose

I'd like to see RSA here, since its likely to b

[2019-07-24 23:36] OR13 opened #5 "Adopt ES256K JWT as Credential Format"
I recommend ES256K (Unencrypted) JWT for Credential and Presentation, see the format proposed by @awoie below.

[2019-07-25 00:39] OR13 opened #6 "Adopt Issuer Server Infrastructure"
### Publishing the Issuer DID on the Issuer Website

In order to keep things simple, the issuer needs a DID to be accessible via their domain (issuer-corp.example.com)

It is also possible to use webfinger for this purpose, see this link:

https://blog.joinmastodon.org/2018/06/how-to-implement-a-basic-activitypub-server/

If we wish to provide an email for the issuer, we can used this method to ob

[2019-07-25 14:00] rh7 commented on #3
@OR13  - I hope I don't misunderstand the issue. I expected that we need to support many different DID methods to demonstrate that various wallets can be used in this PoC? I guess we could define that it needs to be part of the universal resolver, but I assume that could be addressed also for `elem`. @peacekeeper ?

[2019-07-25 14:23] OR13 commented on #3
@rh7 yes I believe this is the goal, however if the DID method is not in the universal resolver, custom code would need to be added for each method. The purpose of this ticket is to define how much custom code we plan to add to support the project.

I would recommend just using the universal resolver, its going to give us the widest coverage for least effort, for our first phase.

[2019-07-25 14:30] OR13 commented on #3
After we gather a bit more feedback, I'm happy to close this issue and adopt support for credential subjects that are resolvable via the uniresolver (for phase 1, we can add support for others later).

[2019-07-25 20:05] OR13 commented on #2
I suppose we can support multiple issuer DIDs if they are all resolvable via the universal resolver, and all their keys are available to the issuer server.

Its a bit extra work, but it might be nice to show that:

example.com can issue credentials from:

`ethr`,`btcr`, `sov`, etc... to `ethr`, `btcr`, `sov`, `jolo`, etc...

[2019-07-29 15:03] OR13 commented on #5
`@panva/jose` requires node 12 which conflicts with a bunch of other libraries like web3. We probably want to use JWS / JWK but may not want to use that library.

[2019-07-30 17:17] OR13 commented on #5
If this issue does not receive significant comments / criticism, I recommend we adopt JWT as the format, and rely on credential wrapping as needed to support wallet integration down the road.

[2019-07-30 17:19] OR13 commented on #6
Authentication of the DID Subject should be via Bearer Token JWT, issued by the Issuer Server.

The issuer server will implement a simple challenge response flow over http if no other DID Auth Methods are suggested.

The format of the challenge response flow will be ES256K JWT.

[2019-07-30 17:20] christianlundkvist commented on #5
@OR13 Do any of the major JOSE/JWT libraries support ES256K out of the box? I would guess they only support ES256 (which is NIST P-256 curve).

[2019-07-30 17:22] OR13 commented on #4
@awoie If you could add an explanation of how OIDC SIOP might be used here, we can maybe consider supporting it, but it seems more complicated than implementing a simple challenge response flow from the Issuer / Verifier Web Servers.

I propose we adopt ES256K JWT id_token (Bearer) as the authentication mechanism for the Issuer and Verifier Web Servers.

[2019-07-30 17:23] OR13 commented on #3
Closing this issue, the subject can be any universal resolver capable DID that can complete the DID Auth flow to be adopted.

[2019-07-30 17:23] #3 closed

[2019-07-30 17:24] christianlundkvist commented on #5
@OR13 Just checked here

https://www.npmjs.com/package/@panva/jose

and it seems this library has indeed implemented ES256K support.

[2019-07-30 17:24] OR13 commented on #2
We are adopting BTC-R for the issuer DID, assuming we do not have a problem registering keys.

[2019-07-30 17:24] #2 closed

[2019-07-30 17:25] OR13 commented on #1
Closing, we will track this in #2.

[2019-07-30 17:25] #1 closed

[2019-07-30 17:43] OR13 commented on #5
@christianlundkvist I have tested https://github.com/uport-project/did-jwt and found that it does work with node 12 / panva/jose.

I have not tested https://github.com/decentralized-identity/did-auth-jose , but in theory it should work.

node 12 supports secp256k1 out of the box, with non deterministic k signatures.

But node 12 is not usable with many versions of web3, I think we will likely need

[2019-07-30 17:46] csuwildcat commented on #5
I would like to make the case for supporting three variants: secp256k1, RSA, and ED25519. We did a DIF member survey a while back, and literally everyone fell into these three. If we must reduce to one, secp256k1 was by far the most used. Just my 2c

[2019-07-30 17:49] csuwildcat commented on #6
IMO, we should use Identity Hubs vs Activity Pubs, because of how architecturally stunted the Activity Pub project is. If we're talking about a conduit for discovery of potential creds to be issued, requests of issuance with proofs, and delivery of issued material, Identity Hubs were made to serve as the component to do so.

[2019-07-30 17:51] csuwildcat commented on #6
As for linking a DID to a web domain, I would suggest two mechanisms:

1. DNS URI entry with embedded DID signature
2. Well-Known (ex: `./well-known/did`) endpoint with signed entries that link to DIDs

@peacekeeper and I have been working on this a bit, and would be happy to pitch in.

[2019-07-30 18:59] OR13 commented on #6
@csuwildcat Thanks, regarding Identity Hubs I think we can get away with supporting them for claim retrieval assuming there is a REST API standard for accessing them (with or without auth).

Can you link me to how I can request a claim from a hub according to the spec that might look like this:

`https://hub1.example.com/issuer/:issuerDID/credentials/:subjectDID?type=EducationCert`

I'm sure this

[2019-07-30 19:08] OR13 opened #7 "Adopt .well-known/did-configuration for Issuer and Verifier Web Servers"
See comments below, the spec for this is being tracked:

https://github.com/decentralized-identity/well-known/tree/master/did-configuration

This ticket contains a lot of ideation, please refer to the spec ^.

We propose that the `.well-known/did` standard be used to exposing the DIDs used by this web server.

I don't see the spec for this anywhere... so we need that, or we will have to use a hack

[2019-07-30 19:20] OR13 commented on #5
If we accept standard JOSE and soon to be adopted JOSE, we will have support for these 3.

These are the related RC RFC / drafts. They are well enough documented to be implemented, and there are implementations out there, like the one above.

https://tools.ietf.org/html/rfc8037
https://tools.ietf.org/html/draft-ietf-cose-webauthn-algorithms-01

For the Credential format to be fully specificied, ad

[2019-07-30 19:22] OR13 commented on #5
@kdenhartog Does DIDComm support these 3 formats ^ ?

[2019-07-30 19:28] OR13 opened #8 "Adopt Development Dependencies"
In order to provide the proper level of modularity, and support easy contribution, I'm recommending the following project structure.

0. JavaScript (not TS or Coffee)
1. Lerna Mono Repo https://github.com/lerna/lerna
2. Travis CI
3. CodeCov
4. Github Pages for Documentation
5. Docker Support For Development Environment

More controversial:

- React/SPA for Verifier + Issuer Web Sites
- Storybook f

[2019-07-30 19:52] christianlundkvist commented on #7
@awoie Does uPort have an implementation/spec for this?

[2019-07-30 20:00] csuwildcat commented on #7
There was not yet a formal spec for this, but we had written down some strawman ideas here: https://hackmd.io/Xn4FAapEThu1fycJ9bY9OA

----- This is the content from that HackMD doc -----

## Domain-to-DID Linkage

One common form of trust we would like to support is the ability of a DID to prove ownership of a DNS domain. There are a few possible options for doing this, but the following two are r

[2019-07-30 20:18] csuwildcat commented on #6
In terms of how you would get a claim from a Hub, we are thinking of a bit different request structure. You can still use HTTP as one of the methods, but the request will be something like:

Generate a `POST` request to the following to `hub.example.com/did:foo:123`:

[code]

The request is fully contained in the object, and the target interface where all objects live (including credentials).

[2019-07-30 20:48] OR13 commented on #7
is `key-1` a key id matching a key in the did document for `did:ion:1234abcd`?

What is the value of signature?

I think we should not use DNS for this first interop project, but I'm excited to see the support for it exists.

[2019-07-30 20:57] awoie commented on #7
Yes, uPort is supporting the `did:web` method which is based on a `.well-known` URL hosting a DID Document. This establishes the linkage between a domain owner and a DID by leveraging existing Internet PKI, i.e., TLS certificates.

[2019-07-30 21:09] OR13 commented on #6
The example code here seems to indicate that read and write for hubs would work:

https://github.com/decentralized-identity/hub-sdk-js/blob/master/src/example.ts

If we were to take the hub approach is this how it would work?:

1. https://hub.identity.foundation is an Identity Hub for Interop Project DIDs.
2. https://issuer.interop-project.identity.foundation/.well-known/did links to https://hub.i

[2019-07-30 21:15] OR13 commented on #6
I have opened this issue here:

https://github.com/decentralized-identity/hub-node-core/issues/26

[2019-07-30 22:23] OR13 commented on #5
A JSON-LD alternative to JWT: https://github.com/digitalbazaar/vc-js

I don't think this is a good idea for the interop project because there seems to be less support for JSON-LD Signatures and Credential formats than JWT, but I could be convinced by a strong counter argument. I do love JSON-LD, and I have used related libraries before.

[2019-07-30 22:32] kdenhartog commented on #5
Yes DIDComm credential exchange protocol can support any arbitrary credential format and support a variety of crypto suites. However, the project in DIF (DIDComm-crypto-js) is not related to handling VCs. It's intended to be the "cryptographic envelope" to send arbitrary semantic messages. One of which might be the credential exchange protocol messages.

I have been exploring what it would take to

[2019-07-31 10:26] awoie commented on #5
I agree with @csuwildcat observation. We did a survey and secp256k1 (ES256K) was supported by most ppl. In the DID Auth WG we reconfirmed that ES256K, Ed25519 and RS256 are the algorithms we want to support.

uPort is working on a VC JWT library and we are intending to move that library to DIF. The library will have support for ES256K, ES256K-R and Ed25519 (Nacl).

@pelle could you provide more in

[2019-07-31 10:35] awoie commented on #5
@OR13 The credential format that you proposed is not W3C compliant.

We could use the following minimal W3C VC JWT profile:

[code]

And for the W3C presentation we could use:

[code]

[2019-07-31 11:44] nembal commented on #2
@OR13 - This might be a worthwhile topic to drop for the upcoming BTC-R hackathon.

[2019-07-31 11:53] awoie commented on #4
@OR13 DID AuthN OIDC SIOP is a simple challenge/response protocol based on JWTs. You could easily encode the SIOP request in a QR Code. The SIOP spec allows different `response_mode` values, i.e., `fragment`, `form-post`, `query` which determine the way the response will be sent back to the requester. All of them use HTTPS.

The downside is that it has some extra payload for OIDC-compliance such a

[2019-07-31 14:19] OR13 commented on #5
@awoie thanks, my proposal was a straw-man. These are excellent format suggestions, I'll edit my answer to reflect using them.

[2019-07-31 15:46] OR13 commented on #2
@nembal would you mind linking any details of the hackathon here / reach out to the organizers?

[2019-07-31 16:05] OR13 commented on #4
@awoie Seems like we may be able to create the first implementation of this for the interop project use case.

The issuer server creates the challenge JWT and renders it.

The subject uses (app / script) to sign the challenge with a key linked to their DID, and produces a response JWT.

The subject submits this response to the issuer server.

The issuer server constructs an id_token and returns it

[2019-07-31 17:41] csuwildcat commented on #7
Yes, the more I have been thinking about it, using `/.well-known/did` is probably the most flexible, easiest to perform means of linking a DID to a domain. Here is one specific reason/issue it makes a lot easier:

When we start developing decentralized apps using DIDs/Identity Hubs, it would be best to leverage the existing Progressive Web App standards that browsers support today, and extend them

[2019-07-31 19:28] nembal commented on #2
@OR13 https://weboftrustinfo.github.io/btcr-hackathon-2019/
Kim H. is the organizer (or as far as I know) and she is back from holidays only on the 4th Aug. Scheduled a message to her.

[2019-07-31 20:04] OR13 commented on #7
@awoie thanks! the uport `did:web` is awesome, however, it is prior work and creates a name conflict for the format of what we are wanting to do here, potentially....

@csuwildcat 's suggestions regarding the format of `.well-known/did.json` is different than how uport is using it.

I suggest we resolve this by not colliding the names.

UPort is defining a method for web based DIDs.

We are wantin

[2019-08-01 01:10] kdenhartog commented on #4
RSA won't support repudiable authentication using the methods already described in the JOSE spec. The way it works is to encrypt the encryption key using RSA-OAEP. Since RSA-OAEP doesn't have any ties to the sender's public key, we can't verify the sender in a repudiable way.

If we supported RSA DHKE, then we could handle this, but as far as I can tell this is not a registered `alg` on JOSE IANA

[2019-08-01 08:40] awoie commented on #4
For the non-repudiable part one could potentially use `RS256` for JWT/JWS. This is what we discussed in the course of the SIOP profile. But I agree, for repudiable authentication in JWT/JWE (envelope), i.e., pack/unpack, we should stick with what we have discussed so far, i.e., `X25519` and `XChacha20`. Currently, we got confirmation that `XSalsa20` cannot be used with AEAD which is a requirement

[2019-08-01 12:38] awoie commented on #4
@OR13 Because SIOP DID AuthN still needs external reviews, we could propose a minimal version of the SIOP DID AuthN profile for the interop project: https://github.com/decentralized-identity/authentication-wg/issues/1

[2019-08-02 20:34] csuwildcat commented on #7
Hey folks, I threw together a skeletal explainer doc for `/.well-known/did-configuration`: https://github.com/decentralized-identity/well-known/blob/master/did-configuration.md

@OR13 as you'll see, I am proposing a bit of a different format with some scoping mechanics that will enable things like PWAs across sites where subdomains are scoped to different users. Let me know what you think - hopefu

[2019-08-05 05:42] kdenhartog commented on #6
What's the linking used for in step 2 and 3?

[2019-08-05 15:05] awoie opened #9 "DID AuthN for the Interop Project (due Aug 11th)"
Please note that the DID AuthN review period will end by August 11th. The goal is to decide whether to use the SIOP spec in the course of the interop project.

The current proposal/ paper can be found here: https://github.com/decentralized-identity/papers/blob/master/did-authn/siop/did-authn-siop-profile.md

This will allow us to bring the decision to the next interop call.

If no substantial obje

[2019-08-05 15:55] OR13 commented on #9
I strongly support this proposal, it would be a major milestone in interoperability just to implement this part, and because of the success of OIDC, this is the natural starting point for integrations with legacy systems.

[2019-08-05 17:04] swcurran commented on #9
A few questions about this:

1. I don't see any reference to verifiable credentials in this and assume
that is out of scope - e.g. that this is limited to DID authentication.
Not raising this as issue but just to clarify the use case.  Assuming that
is the case, is there any thought to how verifiable credential
authentication could be used? I'm guessing that would be a custom
post-authentication f

[2019-08-05 20:42] awoie commented on #9
@swcurran these are great questions. See my answers/ comments below:

Yes, for DID AuthN this was considered to be out-of-scope. But I guess, we have to address this for the interop project as well @OR13 ? While nobody would prevent people from using the flow to include self-attested claims (in the same fashion as OIDC) or W3C Verifiable Presentations in the `id_token`, I'm personally in favour of

[2019-08-05 20:57] OR13 opened #10 "[BTCR Hackathon] Create/Update a BTCR DID"
It would be helpful to have some simple scripts for creating and updating BTCR DIDs.

For updates, we would want to support key registration for Ed25519, Secp256k1 and RSA.

[2019-08-05 21:00] OR13 commented on #10
It would also be cool to have some scripts for creating / verifying credentials.

Here is a library that will work with Secp256k1

- https://github.com/decentralized-identity/lds-ecdsa-secp256k1-2019.js

Feel free to use JOSE for the others.

[2019-08-05 21:03] OR13 commented on #10
One the scripts are created, we can consider implementing a management interface used by the issuer server to store keys, and or client / app wallets, if that sounds fun to anyone.

[2019-08-06 00:46] OR13 commented on #10
https://github.com/WebOfTrustInfo/btcr-did-tools-js

[2019-08-06 14:13] OR13 commented on #10
I was able to create a BTCR did and update keys, it works with the universal resolver.

I think the next step should be creating a more modern BTCR DID library and pushing it to npm so that it can be easily installed.

We could also implement the credential issuing and verifying logic now that we have a BTCR did that works with the resolver.

[2019-08-06 23:18] OR13 commented on #10
https://github.com/decentralized-identity/well-known/pull/2/files

Used my BTCR to finish a demo for the `well-known/did-configuration` spec.

[2019-08-07 15:12] OR13 opened #11 "Adopt list of supported Identity Wallets"
Please add Identity Wallet Mobile apps that would like to be supported, and comment on the idea of implementing a QR Code flow.

[2019-08-07 15:28] OR13 commented on #11
Transmute ID is a PWA, but we have the ability to scan QR Codes, I think we can support the DID Auth Flow. Our codebase is JavaScript. Our approach would likely not be reusable by mobile wallets because of the client-server architecture.

[2019-08-07 17:18] swcurran commented on #9
Thanks for the note, Oliver - much appreciated.  We've had a number of discussions about this with Drummond (@talltree) in Victoria this week.  A couple of thoughts to consider:

1. I recommend that the VC use case be thought through a bit.  This is a necessary component for our use case (for our so called "Lawyer Use Case" we are building) and at this point, we think it's pretty hard to use SIOP

[2019-08-07 18:09] OR13 commented on #9
@swcurran The VC Format is tracked here: https://github.com/decentralized-identity/interop-project/issues/5

It sounds like what we are both wanting is claims about an identity and some id_token for that identity, you are suggesting that it would be nicest if those claims came in the id_token.

Its 100% correct that if the OP attaches claims to an id_token they must verify them first, there is a s

[2019-08-07 18:16] OR13 commented on #6
@kdenhartog this ticket was written before the difference between `.well-known/did` and `.well-known/did-configuration` had been flushed out.

Short answer is this does not make sense anymore if the issuer did is BTCR, since `.well-known/did` is reserved for `did:web`.

Long answer is that both the issuer and verifier are web servers which have DIDs of various methods linked, and this `.well-known

[2019-08-07 18:18] OR13 commented on #9
@swcurran It sounds like you might have some valuable insight for this issue as well:

https://github.com/decentralized-identity/interop-project/issues/6

Especially about how DIDComm might be used to request credentials.

[2019-08-08 13:09] OR13 opened #13 "Adopt a strategy and set of libraries for handling the QR Code"
Let use consider the case of using OIDC SIOP QR Codes, separate from potential DIDComm QR Codes.

OIDC SIOP does not have a concrete implementation yet: https://github.com/decentralized-identity/interop-project/issues/14

In order to complete one, we need to commit to the QR Codes and share enough information about the implementation to support Identity Wallet providers.

The specific handling of

[2019-08-08 14:18] OR13 commented on #7
@csuwildcat I have merged the PR for the demo based on the spec:

https://well-known.transmute-did.com/

(You may need to ignore SSL while cloudflare boots)

[2019-08-08 16:03] swcurran commented on #9
@OR13 - I thought this group was using the term identity wallet, hence my use.  What term is being used for the thingy that the user has that has the private keys of the DIDs and (optionally) the credentials?  Anyway, that's what I meant.

I'm not sure of the relevance of the cited example. For distributed claims, it seems to be using a "call home" model where the claims from issuers are retrieved

[2019-08-08 19:53] OR13 commented on #9
@swcurran I feel like we are saying the same thing :)

[code]

You can have that, the RP checks id_token, and then uses DIDComm to use/verify credentials.

Its up to the RP to manage the linkage if credentials and auth are split, in other words:

If id_token does not contains claims, then RP needs to match `sub` from id_token to claims (whever they are stored).

[code]

Does this mean you wish to

[2019-08-08 20:19] OR13 commented on #9
It seems like both OIDC SIOP and DIDComm are defining challenge response based protocols that rely on URIs and JWTs.

Here is a credential exchange spec for did comm: https://github.com/hyperledger/aries-rfcs/tree/master/features/0023-did-exchange

I propose the following:

- DIDComm and OIDC SIOP agree to an id_token only auth flow based on JWTs, URIs and QRCodes.
- We document how RP can leverag

[2019-08-08 21:28] swcurran commented on #9
Not sure where to take this convo, but this isn't working :-).  Perhaps on a future call.  Bottom line for us is that SIOP is not particularly helpful given the current state of IAM and the difficulty in using VCs in the authn process.

To clarify your confusion above (`I think using the term RP but planning to not support OIDC is confusing me`) - from the perspective of the RP, in the approach we

[2019-08-09 00:01] dhh1128 commented on #9
The core contract of OIDC is that the RP trusts the Provider to make assertions about the party that's trying to authenticate, __on the Provider's own authority__. When I login to a website with Google or Facebook, the website is trusting Google or Facebook to A) assert that I'm the legitimate owner of an identity they should trust; B) assert on their own authority attributes like my email address

[2019-08-09 00:23] tplooker commented on #9
@OR13, perhaps viewing this repo https://github.com/bcgov/vc-authn-oidc will provide more clarity to the approach we are taking with VC authn? As Daniel eloquently described above we are building an OP that supports vc authn over OIDC. So that existing RPs that are OIDC clients can just ask an OP that supports vc authn to use that as the method of authentication. The OP in this case acts as the ve

[2019-08-09 01:40] swcurran commented on #9
Thanks @dhh1128 - way better explanation than I was able to provide.  A slight addition is that the simple case - prove DID ownership - is pretty easily done with the approach proposed in https://github.com/bcgov/vc-authn-oidc - although we might need to add a new DIDComm protocol.

[2019-08-09 13:24] awoie commented on #9
@OR13 @swcurran @tplooker @dhh1128 I will try to compare these two approaches and IMO, both approaches serve a different purpose:

DID AuthN SIOP:
- Two parties involved, i.e., RP and SIOP
- RP does not have to register with the SIOP
- Simple challenge/response flow
- SIOP does not have to be known to the RP because it uses a standard URL
- Backward compatibility with SIOP
- Focus is on proofing c

[2019-08-09 13:51] awoie commented on #9
To find a solution for the interop project, we need both:
1 DID AuthN
2 Exchanging VCs or presentations

I think we agreed that we want to decouple 1 from 2.

For 1, we could use SIOP. After doing the SIOP exercise and the conversations that we had, I think it could make sense to have a dedicated OAuth2/OIDC grant type for DID Auth, or even for exchanging the VCs. The new grant type could be very

[2019-08-09 14:05] awoie commented on #9
@swcurran In case the above statements made a different impression, IMO the OP authN DID Comm integration that you are doing is very valuable in case you keep it open to all types of VCs.

[2019-08-09 18:24] dhh1128 commented on #9
@awoie I (strongly) agree with virtually everything you summarized. The only thing I would tweak is  in your summary of the VC AuthN OIDC. You describe the RP and the OP as different parties. I agree that they are different *servers*, but I think they are very often owned by the same org. This is what makes it practical, in the use cases that that approach targets, to assume that the OP and RP are

[2019-08-09 21:15] swcurran commented on #9
Nice job, @awoie!  That captured things well.  I'm not sure that the integration with IAMs is as challenging as it sounds in that list, but we'll let you know with an implementation.

The idea of the separation of Auth-DID/VC from VC presentation is interesting and we've been thinking about it as well.  A big use case for us is using this approach to eliminate user ID/Password in Gov't with VCs ac

[2019-08-12 11:53] ipatka commented on #11
BloomID is an identity wallet with the ability to scan QR codes and route deep links for credential sharing and authentication. Server side is Typescript. Clients are in Swift and Java using a shared c++ crypto library for signing. If anything is useful for other wallets we would be open to packaging it into an open source repo.

[2019-08-13 15:46] OR13 commented on #10
I'm going to close this for now.

[2019-08-13 15:46] #10 closed

[2019-08-13 15:48] OR13 commented on #5
I'm going to consider this adopted, and update the readme to reflect the decision.

[2019-08-13 15:57] OR13 commented on #9
The due date for this is past. I'm going to assume we have adopted DID AuthN with OIDC SIOP, and we can tackle credential exchange next.

[2019-08-13 16:56] #5 closed

[2019-08-13 16:57] OR13 commented on #7
I'm going to consider this adopted.

[2019-08-13 16:57] #7 closed

[2019-08-13 16:59] OR13 opened #14 "Interop has OIDC SIOP Implementation"
This ticket is considered done where there is an OIDC SIOP demo checked into this repo.

https://github.com/decentralized-identity/papers/blob/master/did-authn/siop/did-authn-siop-profile.md

We might consider the deliverables to be a set of libraries implementing OIDC SIOP for iOS and Android, and Node.js.

Open to other suggestions.

[2019-08-13 17:03] OR13 opened #15 "Interop has adopted Credential Exchange flow"
With AuthN Adopted, it is now time to discucss credential exchange / delivery.

There are Agents and Hubs, as well as HTTP, Identity Wallets, all will have opinion about how they would like to receive credentials.

Lets continue the discussion regarding DIDComm and Agent / Hub Integration.

Please comment a completed end to end example of how you think this can work, with links to supporting docum

[2019-08-13 17:06] OR13 commented on #15
Worst case scenario, we can provide a custom http interface that takes id_tokens and returns credentilals / presentations in JSON format.

GET & POST

[code]

A user can only add or get credentials if they are the issue for the subject, id_token will be used for Authorization Header.

[2019-08-13 17:06] OR13 commented on #9
I'm going to close this issue, and open an implementation ticket:

OIDC SIOP Implementation:
https://github.com/decentralized-identity/interop-project/issues/14

Since there has been a lot of credential exchange discussion here, I'm going to open a new ticket regarding credential delivery post AuthN:

https://github.com/decentralized-identity/interop-project/issues/15

[2019-08-13 17:06] #9 closed

[2019-08-13 17:18] dhh1128 commented on #15
The credential exchange should be accomplished using this DIDComm protocol: https://github.com/hyperledger/aries-rfcs/blob/master/features/0037-present-proof/README.md. This protocol supports JWT-based credentials, and it can run over http(s). Plus it already has some implementations.

[2019-08-13 17:26] OR13 opened #16 "Interop has support for vc-authn-oidc"
There was substantial discussion regarding support for vc-authn-oidc here:
https://github.com/decentralized-identity/interop-project/issues/9

https://github.com/bcgov/vc-authn-oidc/tree/master/docs

@swcurran @dhh1128 @awoie

I'd like to continue the integration conversation on a clean ticket that is just about adding support for vc-authn-oidc

I recognize that SIOP by itself does not address the

[2019-08-13 17:30] OR13 commented on #9
Lets continue the discussion for adding specific support for vc-authn-oidc here:

https://github.com/decentralized-identity/interop-project/issues/16

[2019-08-13 17:37] OR13 commented on #16
Its my understanding that if vc-authn-oidc existed today, and supported the DID Methods used for interop, then we could make the issuer and verifier web servers RPs, and use an OP server which supported vc-authn-oidc, to issue id_tokens which included the correct claims.

I imagine this would look something like:

https://vc-authn-oidc.issuer.example.com/.well-known/openid-configuration
https://is

[2019-08-13 18:43] OR13 commented on #15
awesome, can we add links for any implementations and describe the flow with 2 different DID Methods?

Issuer : did:btcr:xxcl-lzpq-q83a-0d5 holds <proofOfEducationCredential>

Subject: did:sov:WRfXPg8dantKVubE3HX8pw wants <proofOfEducationCredential>

Per the RFC it looks like there are some [negotiation messages](https://github.com/hyperledger/aries-rfcs/blob/master/features/0037-present-proof/RE

[2019-08-13 20:56] OR13 commented on #13
I have previously used:

https://github.com/moaazsidat/react-native-qrcode-scanner

https://www.npmjs.com/package/qrcode.react

[2019-08-13 20:57] OR13 commented on #13
We may consider this ticket resolved once we have some comments of the feasibility of QR Code support for OIDC SIOP from some wallet implementers.

[2019-08-13 20:59] OR13 commented on #6
I'm going to close this for now, I think it is best tracked in the https://github.com/decentralized-identity/interop-project/issues/15

and https://github.com/decentralized-identity/interop-project/issues/4

[2019-08-13 20:59] #6 closed

[2019-08-13 21:01] OR13 commented on #4
@awoie I'm gonna close this, as we have adopted OIDC SIOP and now need to consider what an implementation will cost: https://github.com/decentralized-identity/interop-project/issues/14

[2019-08-13 21:01] #4 closed

[2019-08-13 21:30] csuwildcat commented on #8
My only question would be, do we really need React for this, vs something simpler, like Web Components and a component/data handling lib. Might give Lit HTML a look: https://www.polymer-project.org/blog/2019-02-05-lit-element-and-lit-html-release

[2019-08-14 02:55] kdenhartog commented on #11
I'll make an announcement on the Aries call tomorrow to mention companies who want to join should come in here and comment.

[2019-08-14 07:13] tplooker commented on #16
@OR13 great work on progressing all of this discussion, I am currently away on holiday, but once I am back I intend to be more involved in this.

In regards to your observations above its important to highlight that the vc-authn-oidc project is strictly aimed at authentication using verifiable credentials leveraging open id connect. How credential issuance is achieved is out of scope.

I think thi

[2019-08-14 08:26] tplooker commented on #16
In reference to what you spoke of above.

With vc-authn-oidc it would enable an easy way to get verifiable information from identity wallets into web apps.

Identity wallets would need to support DIDComm and the verifiable credential presentation protocol which is just two JSON messages a request and a response.

In regards to the auth server being run by the same entity as the web ui, because the

[2019-08-14 20:40] OR13 commented on #16
Thanks these diagrams really help. Sorry I was slow to understand it.

Because of the various identity wallets (who really need to speak up on issues), we wanted to split auth from credential exchange. We are not considering OIDC SIOP as a credential exchange solution, it does nothing but provide an id_token (with no additional claims).

Since we can't use vc-authn-oidc today (if i'm wrong lets ge

[2019-08-15 16:48] OR13 commented on #8
we of course do not need react / angular / vue.

We can use vanilla JS and no Webpack or rollup.

As soon as we decide to use Webpack / rollup or node_modules for dependencies, it starts to become nice to pick a framework like react / angular vue.

But we can keep the UI separate from business logic, and indeed if we want to show support for all 3 I believe we could.

I'm most familiar with React

[2019-08-15 17:02] swcurran commented on #16
For `vc-authn-oidc` to be used by other DID Method/VC implementations (BTCR, uPort, etc.) there would have to be DIDComm support added to clients of those methods.  Alternatively (and what we expect will be easier), an Aries agent could be extended to include support for DIDComm protocols that supported those VC methods.  At minimum on the identity wallet/holder side, that would mean adding suppor

[2019-08-15 17:19] brentzundel commented on #11
Evernym has a mobile agent with an identity wallet that uses QR codes, but I'm not sure what it would take for it to be a "supported identity wallet." What would this actually entail?

[2019-08-15 22:07] vongohren commented on #11
Uport is using React Native, and scans QR code. Our app is far from ready but my efforts so far is going in that direction

[2019-08-21 15:22] OR13 commented on #16
Thanks! Its possible that members would contribute the JS stack, in order to support the interop project, if they have a clear idea of what that would entails.

It sounds like the next steps are to define the protocol interaction sufficient for an implementer to contribute or wait for a concrete description / demo of using Aries with other DID Methods.

[2019-08-21 15:30] OR13 opened #17 "Interop project has documented Agent / Hub Support"
In order for a Hub or Agent implementation to be supported, a document must be contributed to this repo describing how to leverage the Hub / Agent with at least 2 different DID Methods.

All code necessary to complete the linking should be included, such as protocol messages, public web service endpoints, authentication details, etc.

[2019-08-21 15:33] csuwildcat commented on #17
@codeglobally tagging you in for visibility into the community's request/needs

[2019-08-21 15:43] OR13 commented on #11
Excellent, thanks kicking off the conversation.

For an Identity Wallet to be supported, it must implement protocol / data structures necessary to complete the interop demo (a simple credential issuance and presentation flow).

While some of these concepts are still being ironed out, we do have some higher confidence assertions:

1. The Auth Flow will use OIDC SIOP, a client will need to sign and

[2019-08-22 17:13] OR13 commented on #17
Specifically, we should focus on support for Write / Read.

[2019-08-22 17:17] OR13 commented on #17
Issuer Agent Creates Credential, Transfers it Subject Hub, Verifier can request Credential from Subject Hub.

[2019-08-22 18:56] OR13 commented on #17
@TelegramSam to add RFC / code links. May be a good opportunity to develop an "Aries implementers Guide".

[2019-08-23 13:51] TelegramSam commented on #17
Links, per our call yesterday:

The best collection of DID Comm related info is in the Reference Section of RFC 0005: https://github.com/hyperledger/aries-rfcs/blob/master/concepts/0005-didcomm/README.md#reference
In particular to our discussion, Message Types, Message Anatomy, and Agent Transports.

Code to connect a webserver to an Aries agent: https://github.com/hyperledger/aries-staticagent-py

[2019-08-27 09:06] awoie commented on #11
@OR13 yes, I'm setting up the respective repositories in GitHub in the course of the Authentication WG.

[2019-08-30 14:51] OR13 opened #18 "Interop has simple credential issuance CLI Demo"
Excluding Agents and Hubs, can we show credential signing and verifying using the unviersal resolver and https://github.com/decentralized-identity/lds-ecdsa-secp256k1-2019.js/tree/master/packages/es256k-jws-ts

We already have a very similar demo here:

https://github.com/decentralized-identity/well-known/tree/master/did-configuration

The demo should include:

1. DID Creation of Issuer BTCR DID (

[2019-08-30 16:24] christianlundkvist commented on #18
@OR13 For number 4, this could be created easily using the universal resolver along with the secp256k1 library you mentioned?

[2019-08-30 16:47] OR13 commented on #18
@christianlundkvist yes, these signatures are tested against UPort and others: https://github.com/decentralized-identity/lds-ecdsa-secp256k1-2019.js/tree/master/packages/es256k-jws-ts/src/__tests__/interop

Here is create: https://github.com/decentralized-identity/well-known/blob/master/did-configuration/demo/scripts/create_did_configuration.js

Here is verify: https://github.com/decentralized-ide

[2019-08-30 20:56] OR13 commented on #18
I've added a simple cli demo assuming you have already configured your DID with secp256k1 keypair: https://github.com/decentralized-identity/interop-project/tree/master/cli-demo

It is possible to automatically convert publicKeyHex to publicKeyPem, and this may be desirable to add.

The kid format is the JWS default per https://tools.ietf.org/html/rfc7638, however, it can be customized, it is up t

[2019-08-31 08:31] Joachim16 commented on #11
Jolocom SmartWallet is in React Native with ability to scan QR codes. there is deep linking for credential sharing and authentication. backend is Typescript.

[2019-09-02 17:01] awoie commented on #18
I support the idea and I think that is doable. I'm happy to contribute `did:ethr` interop and help with the JWT VCs. uPort already has implementations of the W3C VC spec in Kotlin and JS. We should align on a call.

[2019-09-06 18:05] OR13 commented on #18
I've added support for element, and tweaked the VC format, making it easier to drop in UPort's lib or others...

Hopefully the structure is now clearer, and its easier to see how to add your preferred DID Method.

[2019-09-10 15:36] christianlundkvist commented on #18
@OR13 I'm about to build a simple server endpoint for demo purposes, I was considering putting it under a `server-demo` folder parallel to the `cli-demo` folder in the interop repo, would that work?

[2019-09-10 18:00] OR13 commented on #18
@christianlundkvist yeah, that sounds great!

[2019-09-11 12:10] christianlundkvist commented on #18
@OR13 I noticed that in the CLI tool verified function it expects the key ID to have the format “DID#key-<kid>”, instead of just “<kid>” is that a bug?

[2019-09-11 15:18] OR13 commented on #18
The header for the JWTs is:

[code]

This is one of those things that is not really defined by JOSE / DID....

There is an RFC for JWK Thumbprints (kid) https://tools.ietf.org/html/rfc7638

However, there is no formal spec for how a JWS should reference `kid` that is managed by a DID and not a web server (to my knowledge).

For OpenID, the `kid` can be matched to the `https://YOUR_DOMAIN/.well-kno

[2019-09-11 16:03] christianlundkvist commented on #18
Ok those are good arguments. I’m ok with having the key ID be fully specified with the DID. But in that case this line needs to be updated regarding issuance (it uses the unspecified kid in the header):

https://github.com/decentralized-identity/interop-project/blob/92885b4a810b6f76bbc76d374e4c5d159a936008/cli-demo/src/index.js#L85

[2019-09-11 16:41] OR13 commented on #18
Great catch... next time I will leave the PR open for reviews like this... that is actually dead code, when I refactored I made a common function to be used by all DID methods: https://github.com/decentralized-identity/interop-project/blob/92885b4a810b6f76bbc76d374e4c5d159a936008/cli-demo/src/create-credential.js#L30

[2019-09-11 16:47] OR13 commented on #18
Opened https://github.com/decentralized-identity/interop-project/pull/20 to remove the dead code.

[2019-09-11 17:59] christianlundkvist commented on #18
@OR13 Ah gotcha! Ok that's good, I'll make sure to update my own server-side code to use

[code]

to make everything consistent.

[2019-09-12 22:48] OR13 opened #22 "Define Verification for VP"
I still think we really need to demonstrate DID Auth, but do we really need DID Auth if we are using verifiable presentations?

Sure I can get a verifiable credential for a given did, but won't the presentation be impossible to create unless I control signing keys linked to the verifiable credential subject/holder?

I think the crux of this issue is that while verifying a JWS or JSON-LD Signature

[2019-09-20 22:09] OR13 commented on #11
Seems like QR Codes are well supported, but the question is what data is presented in the QR Code.

I think we will likely find that existing apps have varying expectations here.

If the QR Code is exactly a JWT, I think thats the easiest for interoperability.

[2019-09-20 22:09] OR13 commented on #13
https://github.com/hellobloom/share-kit-react

^ Bloom library for handling QR Codes.

[2019-09-20 22:13] ipatka commented on #13
We're also looking for ways to make the QR less dense so it works on lower res displays. See PR here: https://github.com/hellobloom/share-kit/pull/60

basically the request data would be at a payload URL within the QR. this will allow us to get super granular about when claims were issue and by whom (whitelist, blacklist)

[2019-09-21 00:42] kdenhartog commented on #13
@ipatka I think there's merits to this approach. There's also been some attempts to handle this via a rotating QR code to make the QR like a stream of data. Here's an example: https://github.com/digitalbazaar/qram

One of the considerations of using a link in a QR code is that it has potential analytics concerns. For example, when using bit.ly links bit.ly provides analytics data around the usage

[2019-09-21 02:42] ipatka commented on #13
Streaming QRs are a cool solution. Regarding analytics I had imagined that the recipient requesting the data would also host the endpoint with the payload. But I suppose if they were using a standard request they might use a link someone else created. Definitely worth considering.

[2019-09-21 04:03] cboscolo commented on #11
@OR13 if the QR codes is "exactly a JWT", would that mean that someone scanning it using the iPhone camera (not via an app) would not have a good user experience since it wouldn't know what app to launch?

[2019-09-23 18:41] OR13 commented on #13
See also: https://github.com/uport-project/uport-transports/blob/develop/src/transport/qr.js

[2019-09-23 18:42] OR13 commented on #13
qram is interesting, but I'd like us to focus on simple static QR Codes for first phase.

[2019-09-24 11:08] awoie commented on #13
A few years ago we had a discussion on streaming QR codes in one of the ISO groups I was participating. There are some patents that need to be considered there.

[2019-09-24 17:22] OR13 commented on #11
yes, good point, from discussions elsewhere. We seem to be heading for a URI format like:

`openid://<jwt>`

`app://<jwt>`

`app://expand?request=<jwt>`

We probably need some kind of spec hosted in the DIF that organizes these approaches.

[2019-09-25 09:23] awoie commented on #11
Yes! But we could register the URL scheme with IANA, then there is a chance that the behaviour changes on iOS. We are trying to do this for `openid://`.

Another approach is to use custom MIME-types but the UX would still be very unusual.

[2019-09-25 09:25] awoie commented on #11
`openid` should not be used for credential issuance, only for openid requests.

Yes, and if we decide on a custom URL scheme, then we should also register it with IANA.

[2019-10-04 18:05] hob commented on #11
Having the QR code exactly be a JWT simplifies the flow, but it might lower the bar a bit if the QR were just a URL.  If it were assumed that flow started with fetching the JWT from a URL 1st, then the QR becomes optional and the barrier to entry would be lower.  It would enable features like direct linking for mobile devices where a QR presents a bit of a chicken/egg problem (the phone can't scan

[2019-10-12 15:38] alenhorvat commented on #11
Hi. We (Netis/AceBlock) have a working SSI Mobile app, a web-snippet (QR code part) and a backend agent for verifying the OIDC-SSI token for a year. Our QR Code content is a JWT. We also implemented the mobile-browser-mobile-SSI app (deep link) functionality. The mobile part is in Java, web part in JS, server-side part in JS. A year ago the OIDC implementations did not support the ES256K JWT signa

[2019-10-14 15:04] OR13 commented on #11
@alenhorvat please add links to any implementations if possible, especially your existing URI format, thanks for adding your voice.

[2019-10-14 15:13] alenhorvat commented on #11
Here is the demo page: https://id.aceblock.com/  (Mobile app is not public, yet. V1 is for the demo, V2 is expected to be available by end of the year.)
Web-site JS module: https://www.npmjs.com/package/@aceblock/aceblock-login-qr
Auth. flow is the same as OIDC-SSI (and also DID-AuthN SIOP).

I will provide more info about the URI in the following days.

[2019-10-28 13:46] ipatka commented on #11
We just released a CLI which replicates much of the functionality for the Bloom app for prototyping and testing purposes. https://github.com/hellobloom/bloom-credential-playground

It is not yet compliant with the interop mechanisms for did creation, credential issuance, etc but my plan is to prototype the interop features in the CLI then migrate it into the mobile app when ready.

[2019-10-28 15:46] alenhorvat commented on #11
URI Format: at the moment we're using: app_name:base64_encode(oidc_request) <- this should be standardized (e.g., ssi:oidc_auth: for an OIDC-SSI compliant authentication). The oidc_request complies with the OIDC-SSI and DID-Auth SIOP (for authentication only). VC/Attestation request flows are not defined at the moment. _Question: are deep-links and QR codes secure way of transferring information f

[2019-10-29 04:56] kdenhartog commented on #11
I would not consider a QR code a secure method of transferring information. They should be considered an insecure method of transmitting data.

[2019-11-05 16:30] OR13 opened #24 "Add support for CHAPI"
A possible option for getting credentials to a wallet:

https://github.com/digitalbazaar/credential-handler-polyfill

If we could demonstrate how this works with at least 1 mobile wallet, it might help encourage wallet implementers to support this standard.

[2019-11-12 10:00] vongohren opened #25 "Initiatation of DID methods, when you dont know what the user want to use"
I believe this is an interesting case for interopability. I did not want to write things twice, so I will just reference the main issue here. Then we can have a discussion on a more general level in this issue.

https://github.com/jolocom/smartwallet-app/issues/1502

Questions
Is this a case that would happen in the future for services?
As a service provider I should never have to choose the ident

[2019-11-12 22:39] OR13 commented on #25
@vongohren

I have also encountered this issue.

We have some code in element that solves for this issue in sidetree based DID methods:

https://github.com/decentralized-identity/element/blob/master/packages/element-lib/src/crypto/MnemonicKeySystem.spec.js#L12

In sidetree case, we can predict what a DID will be based on its initial payload... There is ongoing work to formalize these "un-anchored"

[2019-11-12 22:42] OR13 commented on #22
This is essentially a request to define what the hypothetical verifier will do in our issuer, holder, verifier ed tech web demo...

I suggest to starters, the verifier only accept VPs made by the subject described in the VC, and that they just check that the signatures are valid, and the credential type is expected.

[2019-11-12 22:44] OR13 commented on #14
@dstrockis MS has the implementation of this, we'd love to use the interop project at DIF as way to help developers understand how to implement SIOP properly. Once the code is available, would you mind contributing a minimal example of SIOP?

[2019-11-12 22:46] OR13 commented on #13
I think this is essentially blocked by Hubs / EDV / DIDComm... Credential size limits will prevent direct transfer by QR Codes.

[2019-11-12 22:52] OR13 commented on #11
If the QR Code is a JWE... its as secure as JWE...

Size limits of QR Codes means usually they will be either a resource that can be protected with whatever authorization scheme or a JWE... I'd love to to see OIDC SIOP actually tested in the wild, before we got any further down the QR Code rabbit whole for AuthZ / credential exchange.

[2019-11-12 22:53] OR13 commented on #8
These where just suggestions.

[2019-11-12 22:53] #8 closed

[2019-11-12 23:42] SmithSamuelM commented on #25
@OR13  good overview of the issues.

To add my two cents.  Lets break DIDs and DID Docs into two concepts.

1) Establishing authoritative control over an identifier (DID) as a set of authoritative signing keys.

2) Establishing authoritative control over everything else associated with the identifier

If you solve 1) then 2) becomes trivialized because 2 is accomplished by signing an attestation f

[2019-11-12 23:49] SmithSamuelM commented on #25
The complications that @OR13 describes for recovering control of a DID or moving a DID between ledgers become simplified because the ledger is not the primary root of trust, the key event log is. and the key event log is just an ordered set of receipts of key events. Think multiply signed receipts.

[2019-11-13 08:53] vongohren opened #26 "What happens to the VCs after a DID move or change"
I have this issue: https://github.com/decentralized-identity/interoperability/issues/25 which is more around the DID and how that can be portable and how to do it.

Then I have another issue of interoperability/portability. That is what happens to the VCs after you are deemed necessary to move to another did, because did:x became unsafe, or you want some other mechanisms offered at that DID?

Firs

[2019-11-13 10:56] vongohren commented on #24
This is cool. One questions though, where is the digitalwallet held? I did not completly understand that

[2019-11-13 14:56] OR13 commented on #24
Its a web wallet in these cases, so it exists in a service worker... you would need to write an adapter for cloud wallet / mobile app backends, and connect them to the service worker.

[2019-11-13 15:54] msporny commented on #24
Note that it's theoretically possible to bridge CHAPI to native apps. We have a couple of on-paper designs to do that, but are blocked by not having a native wallet implementer that's interested in working with us to build out the solution to their native wallet. Native wallet support is on the roadmap for CHAPI, but without a development partner, we're not going to be able to make much progress.

[2019-11-13 15:55] dlongley commented on #24
Note that native wallets could be potentially supported by updating the polyfill server to run a WebRTC/ICE server to enable the use of WebRTC for communicating responses to the user's browser. We would need to see a native app provider show interest in participating in this work for it to happen.

[2019-11-14 11:22] vongohren commented on #24
Ok, so when you guys are saying "native wallet apps". Im still a bit stuck in the ethereum world of how a wallet app is percieved and how uPort has currently done their wallet app.

We have a "native app" that works as a service on top of your identity, that currently provides you with a profile, a way to see your issued credentials and attended courses, and from there you can claim them to your i

[2019-11-14 14:46] msporny commented on #24
@vongohren this is an old video, but might give you some ideas on the architecture: https://www.youtube.com/watch?v=bm3XBPB4cFY

[2019-11-14 16:10] OR13 commented on #24
^ this is pretty much what DIF has been wanting to build for a really long time... The main reason we don't have such a demo is that we can't figure out how to integrate with mobile apps....

[2019-11-14 16:19] dlongley commented on #24
So we have a rough plan for integrating mobile apps in with CHAPI, we just need a mobile wallet app developer that is interested in helping out with the implementation.

In short, selecting a native app could be added as a choice in the CHAPI UI. If the user made that selection, the CHAPI request would be downloaded using a mime type that a mobile app could understand -- such that the user could s

[2019-11-14 16:23] dlongley commented on #24
Note that you can run through the current demo on your own here:

https://credential-repository.demo.digitalbazaar.com/

[2019-11-14 16:58] msporny commented on #24
Do this in an incognito tab... you don't want the demo wallet installed in your standard browsing context, and doing it in an incognito mode helps you do the demo from end to end and see all permissions dialogs.

[2019-11-14 18:15] vongohren commented on #25
Wow this is great information! Cannot say I understand it all completely but it makes sense in many ways. Is there any where I can read more about KERI @SmithSamuelM?

If you guys could choose @SmithSamuelM @OR13, what would be a couple of next steps towards a better world on this?

[2019-11-14 19:05] SmithSamuelM commented on #25
The KERI white paper is here.
https://arxiv.org/abs/1907.02143
There is now a repo on DIF where an RFC for a standard proposal will be formed.
https://github.com/decentralized-identity/keri
There will be an Aries RFC upcoming to props the same thing

Idea is to get broad interoperability.

[2019-11-14 19:18] SmithSamuelM commented on #25
The other main difference is that each KERL  (Key event receipt log) in KERI is dedicated to a specific identifier and may be used to independently verify the control authority for the identifier. Certificate Transparency  does not have this capability but merely allows one to correlate or detect bad behavior by a certificate authority. So KERI IMHO is much better. It provides not just a proof of

[2019-11-14 19:26] SmithSamuelM commented on #25
The essential insight is that the incepting authority for a cryptographic public private key pair  is imbued  by the random entropy/collision resistance used to generate the private key and then the one way function used to derive the associated public key.  Thus to invoke the Highlander meme "There can be only one". From this singular root of trust, signed  key rotation events can be used to tran

[2019-11-15 08:49] vongohren commented on #24
This is great stuff, this works on a mobile browser, so basically on a PWA right? I did test it in the browser and the same stuff popped up.

[2019-11-15 16:06] dlongley commented on #24
Yes, works in a mobile browser and with regular Web apps and PWAs.

[2019-11-15 21:26] brentzundel commented on #11
OIDC SIOP in the wild: https://www.linkedin.com/posts/truu-id_passwordless-digitalpassport-seeyouinthefuture-activity-6589215033199259648-NRel

[2019-11-18 09:35] kdenhartog commented on #11
Yes, this is a better way of saying what I was trying to.

[2019-11-18 17:38] brentzundel commented on #26
Many VCs use DIDs as the primary means of binding the VC to a particular holder. The holder proves control of the DID and thereby proves the VC is bound to them.
While using DIDs as a holder binding mechanism is certainly convenient, it does lead to the problems you outline. The simplest answer to your first case is to seek re-issuance of the VCs to the new DID. You would be correct in wondering w

[2019-11-18 18:18] vongohren commented on #26
I see and yes there are many complicated case. But in a reissunace case, have you guys done this before? In an automated manner? Would you store the resissuance link in the VC or is there a paper on this somewhere?

Because what it means in our case, is that the issuance happens when a person signs of the credentials. Meaning clicking a button, and signing scanning a QR code. But maybe our process

[2019-11-18 23:07] brentzundel commented on #26
[This is a pretty good explainer](https://misterwip.uk/cl-signatures) on CL Signatures and anonymous credentials in general. I have more, if you're interested.

[2019-11-19 11:18] vongohren commented on #26
@brentzundel sweet, thanks. Let me start there and I can ping!

[2019-11-20 07:31] vongohren commented on #25
Ok I see, I will dig into these papers a bit more to get the better gist of it @SmithSamuelM. But reading this I like the thought, but what differs from, lets take the ethr method. https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1056.md Which uses log events on ethereum to create a log of what is happened, and resolves a did document from that?

Since the ethr method can live unanchored, and

[2019-11-20 15:14] SmithSamuelM commented on #25
There are a couple of important differences. But generally key rotations are "events" and verifying the current authoritative key set requires verifying the log of events.  This means that we could have a standard set of events that is Ledger/Method independent. If the events are standard then they are portable. The problem now is that every DID method is using an incompatible set of events or not

[2019-11-21 20:49] OR13 commented on #25
^ this is what I like about KERI so much... most of the DID Method operations (create, update, deactivate) are possible to model using domain driven design / event sourcing, and most of the DID Method implementations use some form of event sourcing to implement this functionality.

There is a possibility to offer a standard for these changes, that might help with inter method portability, and at t

[2019-11-25 11:19] vongohren commented on #25
Aahh, i see. I understand how this can be valuble.
But I would make a set of standard events, I can connect them to the ethr method if I want but also some other method.

But then in the end, where does these standardized event logs go? In your own repository? Or you put them on many random ledgers?

[2019-11-25 15:09] SmithSamuelM commented on #25
KERI declares witnesses. Each witness has an immutable event receipt log. A witness could be a ledger. A key rotation event not only rotates keys but may rotate witnesses.

Sent from my iPad

[2020-01-20 17:20] OR13 opened #28 "Review vp-toolkit"
https://github.com/rabobank-blockchain/vp-toolkit#flow

[2020-01-21 10:00] rabomarnix commented on #28
Hi,

Thank you for taking the time to review our [SSI flow](https://github.com/rabobank-blockchain/vp-toolkit#flow).

## Background
A while back we saw various identity protocols popping up. In a few PoC's we needed to use different protocols - so instead of hardcoding the protocol in the mobile wallet, we decided to make a flexible plugin system which allows developers to plug in the protocols th

[2020-09-02 12:04] #28 closed

[2020-09-02 12:04] #26 closed

[2020-09-02 12:04] #24 closed

[2020-09-02 12:05] #25 closed

[2020-09-02 12:05] #16 closed

[2020-09-02 12:07] #22 closed

[2020-09-02 12:07] #17 closed

[2020-09-02 12:07] #15 closed

[2020-09-02 12:08] #14 closed

[2020-09-02 12:08] #13 closed

[2020-09-02 12:08] #11 closed

[2021-06-07 10:54] bumblefudge opened #50 "Hakan's presentation from last week"
[Interop_Survey_export.pdf](https://github.com/decentralized-identity/interoperability/files/6608206/Interop_Survey_export.pdf)

[2021-06-07 10:54] #50 closed

[2021-06-15 08:22] bumblefudge opened #53 "presentation from wednesday"
[Chadwick_DIFpresn_9jun21.pdf](https://github.com/decentralized-identity/interoperability/files/6653997/Chadwick_DIFpresn_9jun21.pdf)

[2021-06-15 08:22] #53 closed

[2021-07-21 11:54] bumblefudge opened #55 "Slides from today's presentation"
[iGrant.io_DW_V13.1_DIF_Demo.pdf](https://github.com/decentralized-identity/interoperability/files/6855401/iGrant.io_DW_V13.1_DIF_Demo.pdf)

[2021-07-21 11:54] #55 closed

[2022-01-03 16:40] vongohren opened #62 "Test issue"
issue

[2022-01-03 16:57] vongohren commented on #62
nanan

[2022-01-03 17:58] bumblefudge commented on #62
heyhey

[2022-01-04 22:12] vongohren commented on #62
Coolio!

[2022-01-04 22:12] #62 closed

[2022-11-20 09:52] samuk opened #65 "Reticulum identies - DID compatability"
I'm interested in this project: https://reticulum.network/index.html

Specifically whether the Identities: https://github.com/markqvist/Reticulum/discussions/155#discussioncomment-4169152

Created by the https://github.com/markqvist/sideband#sideband- application

Could be made DID-compatible. What would need to be changed to make it DID-compatible?